@import url('https://fonts.googleapis.com/css?family=Play:700|Press+Start+2P');
[v-cloak] {
  display: none;
}
.container{
  background-color: black;
}
h1,h2{
  font-family: 'Play', sans-serif;
}
#time,#past{
  font-size: 2em;
  color: yellow;
}
#clock{
  font-family: 'Press Start 2P', cursive;
  color:red;
}
